
@{
  ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <h2>Pathfinder Resources</h2>
</div>

<div class="row">
  <div class="span10">
    <ul>
      <li>@Html.ActionLink("Maps", "Maps", "Pathfinder")</li>
      <li>@Html.ActionLink("Campaigns", "Campaigns", "Pathfinder", new { redirectToActive = false })</li>
    </ul>
  </div>
</div>

