@model LiveDisplayModel

@{
  ViewData["Title"] = "LiveDisplay";
}
<script>
  @Html.Raw($"var chatRoomId = {Model.ChatRoom.ChatRoomId};")
  @Html.Raw($"var playerId = {Model.ActivePlayer.PlayerId};")
</script>

<h2>LiveDisplay</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <span id="LiveDate" class="liveDate"></span>
        </div>
    </div>
  <div class="row">&nbsp;</div>
  <div class="row" style="min-height:80%">
    <div class="col-md-9 hidden-sm-down" id="liveDiv">
      <canvas id="liveCanvas" class="img-responsive" onload="canvasLoad()"></canvas>
      <img class="hidden" src="~/images/TestMap.png" alt="TestMap" />
    </div>
    <div class="col-md-3 col-sm-12" id="chatBox">
      Now in chatroom: @Model.ChatRoom.ChatRoomName
      <div class="row" style="min-height:80%">
        <div class="col-12" style="min-height:80%;overflow:scroll">
          <ul id="messagesList"></ul>
        </div>

        <div class="col-12">&nbsp;</div>
      </div>

      <div class="row h-15">
        <div class="col-12">
          <hr />
        </div>
      </div>
      <div class="col-12">&nbsp;</div>
      <div class="col-12">
        User..........<input type="text" id="userInput" />
        <br />
        Message...<input type="text" id="messageInput" />
        <input type="button" id="sendButton" value="Send Message" />
      </div>

    </div>

  </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/liveDisplay.js"></script>
@*<script src="~/js/es5-liveDisplay.js"></script>*@
