
@{
    ViewData["Title"] = "Maps";
}
<div class="jumbotron">
    <h2>Maps</h2>
</div>

<div class="row">
    <div class="span4">
        <div class="panel">
            <div class="panel-heading text-center">
                Reign of Shadows
            </div>
            <div class="panel-body">
                <a href="~/images/Campaign Overworld.png">Campaign Overworld (rough)</a>
                <br />
                <a href="~/images/Unity.png">Unity - Centria and Westria</a>
                <br />
                <a href="~/images/Verda.png">Verda (pre-Ash Peaks)</a>
            </div>
        </div>
    </div>
</div>

