@{
    ViewData["Title"] = "DM Index";
}

<h2>DM Index</h2>

<p>Hello from our View Template!</p>

@Html.ActionLink("BestiaryIndex", "Bestiary", "DM")

@Html.ActionLink("Bestiary ID:1", "BestiaryEdit", "DM", new { bestiaryId = "1" })