@model ManageRolesViewModel
@{
    ViewData["Title"] = "ManageRoles";
}

<div class="row">
  <div class="col-lg-10 text-center">
    <h2>ManageRoles</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    @Html.DropDownListFor(x => x.Users, new SelectList(Model.Users), "Select User")
  </div>

  <div class="col-lg-5">
    @foreach (var role in Model.Roles)
    {
      @Html.CheckBox(role.Name, )
    }
  </div>
</div>




