@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Pathfinder Discord: [LINK GOES HERE]
</address>

<address>
    DM Email: zratsewk@yahoo.com
</address>
